.section-bg,
.section-content {
    width: 100%;
}

.section-content {
    z-index: 1;
}

.banner {
    position: relative;
    background-color: #446084;
    width: 100%;
    min-height: 30px;
}

#banner-664586153 {
    padding-top: 29%;
}

.banner-bg {
    overflow: hidden;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.bg-fill {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}

.bg {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.bg-loaded {
    opacity: 1;
}

.has-hover .bg,
.has-hover [class*="image-"] img {
    transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
}

#banner-664586153 .bg.bg-loaded {
    background-image: url(../images/banner/z2156566816839_1946c02244a243c8fd742dd4f50d0632-1-scaled.jpg);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: -1px;
    right: -1px;
    background-color: rgba(0, 0, 0, 0.15);
    transition: transform .3s, opacity .6s;
    pointer-events: none;
}

#banner-664586153 .overlay {
    background-color: rgba(0, 0, 0, 0.61);
}

.banner-layers {
    max-height: 100%;
    height: 100%;
    position: relative;
}

.banner-layers>* {
    position: absolute !important;
}

.text-box {
    max-height: 100%;
}

@media screen and (min-width: 850px) {
    .lg-x50 {
        left: 50%;
        -ms-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
    }
    .lg-y50 {
        top: 50%;
        -ms-transform: translateY(-50%) !important;
        transform: translateY(-50%) !important;
    }
    .res-text {
        font-size: 16px;
    }
    .lg-x50.lg-y50 {
        -ms-transform: translate(-50%, -50%) !important;
        transform: translate(-50%, -50%) !important;
    }
}

.res-text {
    font-size: 11px;
}

@media screen and (min-width: 550px) {
    .res-text {
        font-size: 1.8vw;
    }
}

#text-box-1844341820 {
    width: 70%;
}

.dark,
.dark p,
.dark td {
    color: #f1f1f1;
}

.text-box .text {
    position: relative;
    z-index: 10;
    backface-visbility: hidden;
}

#text-box-1844341820 .text {
    font-size: 100%;
}

.uppercase,
h6,
th,
span.widget-title {
    line-height: 1.05;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.is-uppercase,
.uppercase {
    line-height: 1.2;
    text-transform: uppercase;
}

.banner h2,
.banner h3,
.banner h1 {
    padding: 0;
    font-weight: normal;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    line-height: 1;
}


/* ============================= CÃC BAN ========================= */

.col-inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

@media screen and (min-width: 850px) {
    .col-inner {
        margin-left: auto;
        margin-right: 0;
    }
}

.box {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.box,
.box-image,
.box-text {
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.box,
.box-image,
.box-text {
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.box-image {
    position: relative;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.box-image-inner {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.has-format,
.video-fit,
.image-cover,
.has-custom-box-heights .box-image {
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

img {
    transition: opacity 1s;
    opacity: 1;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    border-style: none;
}

.box-image img {
    max-width: 100%;
    width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
}

.video-fit video,
.video-fit iframe,
img.back-image,
.image-cover img,
.has-format img,
.has-equal-box-heights .box-image img {
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.box,
.box-image,
.box-text {
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.box-text {
    padding-top: 0.7em;
    padding-bottom: 1.4em;
    position: relative;
    width: 100%;
    font-size: .9em;
}

.box-text.text-center {
    padding-left: 10px;
    padding-right: 10px;
}

.text-center>div,
.text-center>div>div,
.text-center .is-divider,
.text-center .is-star-rating {
    margin-left: auto;
    margin-right: auto;
}

.uppercase,
h6,
th,
span.widget-title {
    line-height: 1.05;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.is-uppercase,
.uppercase {
    line-height: 1.2;
    text-transform: uppercase;
}

.box-text h1,
.box-text h2,
.box-text h3,
.box-text h4,
.box-text h5,
.box-text h6,
.box-text a:not(.button) {
    line-height: 1.3;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

h1>span,
h2>span,
h3>span,
h4>span,
h5>span,
h6>span,
p.headline>span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.thin-font,
.is-thin {
    font-weight: 300 !important;
}

.is-small,
.is-small.button {
    font-size: .8em;
}

.op-7 {
    opacity: .7;
}

.social-icons {
    display: inline-block;
    vertical-align: middle;
    font-size: .85em;
    color: #999;
}

.text-center .social-icons {
    margin-left: auto;
    margin-right: auto;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
    position: relative;
    display: inline-block;
    background-color: transparent;
    text-transform: uppercase;
    font-size: .97em;
    letter-spacing: .03em;
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    color: currentColor;
    text-decoration: none;
    border: 1px solid transparent;
    vertical-align: middle;
    border-radius: 0;
    margin-top: 0;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    max-width: 100%;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

.button,
input[type='submit'],
input[type='submit'].button,
input[type='reset'].button,
input[type='button'].button {
    color: #fff;
    background-color: #446084;
    background-color: var(--primary-color);
    border-color: rgba(0, 0, 0, 0.05);
}

.is-outline {
    color: silver;
}

.button,
button,
input,
textarea,
select,
fieldset {
    margin-bottom: 1em;
}

.circle {
    border-radius: 999px !important;
    object-fit: cover;
}

.box a {
    display: block;
}

.button.is-outline {
    line-height: 2.19em;
}

.button.is-outline,
input[type='submit'].is-outline,
input[type='reset'].is-outline,
input[type='button'].is-outline {
    border: 2px solid currentColor;
    background-color: transparent;
}

.button.icon {
    margin-left: 0.12em;
    margin-right: 0.12em;
    min-width: 2.5em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    display: inline-block;
}

.box-text .button {
    margin-top: 1em;
}

.button.tooltip {
    opacity: 1;
}

.text-center .button:first-of-type {
    margin-left: 0 !important;
}

.text-right .button:last-of-type,
.text-center .button:last-of-type {
    margin-right: 0 !important;
}

.button.icon.circle {
    padding-left: 0;
    padding-right: 0;
}